#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
    background-color: #000000c9;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 160px 20px 100px; /* Aumentei o padding-top para dar espaÃ§o para o header fixo */
}

#hero img{
    width: 120px;
    height: auto;
    margin: 0 auto;
    transition: 200ms;
}
#hero img:hover{
    transform: scale(1.05);
    height: auto;
    margin: 0 auto;
}
#hero h1 {
    font-size: 48px;
    margin: 0;
}

#hero p {
    font-size: 24px;
    margin: 10px 0 20px;
}

#bt-falso {
    background-color: #e74c3c;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 200ms;
    text-decoration: none;
}
#bt-falso:hover {
    background-color: #872e24;
    border-radius: 12px;
    color: rgb(210, 207, 207);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 200ms;
    text-decoration: none;
}

#hero nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


section {
    padding: 60px 20px;
}

#about{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}
#about h2{

    width: 200px;
    height: 50px;
    font-size: 26px;
    color: red;
    text-shadow: black;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 15px;
}
#about p{

    width: 500px;
    height: 200px;
    text-align: center;
    font-size: 24px;
    border-radius: 15px;
}

#games{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    padding-bottom: 200px;
}

.games-container{
    background-color: red;
    border-radius: 15px;
    width: 600px;
    padding: 20px;
}

.games-container h2{
    color: rgb(255, 255, 255);
}


#about, #games, #contact, #team {
    max-width: 800px;
    margin: 0 auto;
}

#games .game-list {
    display: flex;
    flex-wrap: wrap;
}

#games .game-item {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 40px);
    box-sizing: border-box;
    transition: 500ms;
}

#games .game-item:hover {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 1px 2px 4px rgb(0, 0, 0);
    flex: 1 1 calc(50% - 40px);
    box-sizing: border-box;
    transform: translateY(-5px);
    cursor: pointer;

}

.carousel {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 8px;
}

.carousel-image {
    width: 100%;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.carousel-image.active {
    display: block;
    opacity: 1;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border: none;
    border-radius: 15px;
    user-select: none;
    background-color: rgba(25, 25, 25, 0.361);
}

.next {
    right: 0;
    border-radius: 15px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#team .team-list {
    display: flex;
    flex-wrap: wrap;
}

#team .team-item {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 40px);
    box-sizing: border-box;
    transition: 500ms;

}

#team .team-item:hover {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 1px 2px 4px rgb(0, 0, 0);
    flex: 1 1 calc(50% - 40px);
    box-sizing: border-box;
    transform: translateY(-5px);
    cursor: pointer;

}

#contact{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px ;
}
#contact i{
    padding-right: 12px;
    transition: 200ms;
    cursor: pointer;
    font-size: 20px;
}
#contact i:hover{
    padding-right: 14px;
    color: #ff0000;
    transform: translateY(-5px);
    cursor: pointer;
}
.contato-container{
    color: black;
    width: 500px;
    height: 200px;
    border-radius: 15px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.372);
}
footer {
    background-color: #6e3838;
    color: white;
    text-align: center;
    padding: 20px;
}
